@model IEnumerable<WebUITamhmor.Models.DoctorModel>
@{
    ViewData["Title"] = "ListDoctor";
    var doctors = Model;
}


<nav class="navbar navbar-dark bg-primary">
    <div style="margin:30px">
        @foreach(var item in Model )
            {
            <h1>@Html.DisplayFor(modelItem => item.Ddepartment)</h1>
        }
        </div>
</nav>

<div class="container " style="margin-top: 50px; ">
    @Html.Hidden("doctors", Model.Max(x => x.Did))
    <div  >
        <p >Search</p>
        <input  type="text" id="txtsearch" onkeyup="searchDoctor(event) " style="margin-bottom:20px;" />
    </div>
    @foreach (var item in Model)
    {
        <div id="@item.Did" class="row table-bordered border-0 " style="padding: 20px; margin-bottom: 20px;">
            <div class="col">
                <div class="col">
                    @Html.DisplayFor(modelItem => item.Dimage)
                </div>
                <div class="col" style="margin:5px;">
                    <div class="row">
                        @Html.DisplayFor(modelItem => item.Dfname)
                        @Html.DisplayFor(modelItem => item.Dlname)
                        @if (item.Dsex == 0)
                        {
                            <div>
                                เพศ: ชาย
                            </div>
                        }
                        else
                        {
                            <div>
                                เพศ: หญิง
                            </div>
                        }

                        <div>
                            @Html.DisplayFor(modelItem => item.Dhospital)
                        </div>

                        <div>
                            <button class="btn">@Html.ActionLink("ดูรายละเอียด", "DetailDoctor", new { Did = item.Did })</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
<script>
    function searchDoctor(e) {
        var search = document.getElementById("txtsearch").value
        var maxId = document.getElementById("doctors").value
        console.log(e)
        console.log(search)
        for (var i = 1; i <= maxId; i++) {
            var doctor = document.getElementById(i)
            if (doctor) {
                var text = doctor.getElementsByTagName("*")[2].children[0].innerText
                if (text.includes(search))
                    doctor.style.display = "block"
                else
                    doctor.style.display = "none"
            }
        }
    }
</script>
